# In order for the interactive map to work, you need a Google Maps API key.
# You can get one from the Google Cloud Console: https://console.cloud.google.com/
# Make sure to enable the "Maps JavaScript API".
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="YOUR_GOOGLE_MAPS_API_KEY_HERE"
